.CartContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.CartProperty {
  display: grid;
  grid-template-columns: repeat(1fr);
}

.CartItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  background-color: #425664;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 5px;
}

.CartItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: white;
}


.CartItem-delete-Button,
.CartItem-buy-Button {
  cursor: pointer;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-family: 'italic';
  font-size: medium;
  background-color: white;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  margin-right: 10px;
  border-color: antiquewhite;
}

.CartItem-delete-Button:hover,
.CartItem-buy-Button:hover {
  background-color: #20384a;
  color: white
}

.cartName-Text {
  margin-top: 100px;
  font-family: italic;
  color: #425664
}

.cart-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: italic;
  color: white
}

.CartDetails-Text {
  font-family: italic;
  color: #425664
}

.CartDetails-info {
  border: 2px solid white;
  border-radius: 9px;
  color: white;
  margin-left: 90px;
  padding-left: 7px;
  background-color: #425664;
}

.BuyNowButton {
  cursor: pointer;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 9px;
  font-family: 'italic';
  font-size: medium;
  background-color: white;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

.BuyNowButton:hover {
  background-color: #20384a;
  color: white
}