.CartContainer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.CartProperty {
  display: grid;
  grid-template-columns: repeat( 1fr);
}

.CartItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  background-color: #1c263e;
  border-radius: 5px ;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 5px;
}

.CartItem{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  color: wheat;
}

.CartItem-delete-Button{
  cursor: pointer;
  border-radius: 5px;
  border:solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 5px;
  margin-top: 15px;
  font-family:'italic';
  font-size: medium;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  margin-right: 10px;
  border-color: antiquewhite;
}

.CartItem-delete-Button:hover {
  background-color: #2563eb;
  color: white ;
}

.cartName-Text{
  margin-top: 100px;
  font-family: italic;
  color: rgb(223, 210, 210);
}

.cart-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.empty-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-family: italic;
  color: rgb(223, 210, 210);
}

.CartDetails-Text{
  font-family: italic;
  color: rgb(223, 210, 210);
}

.CartDetails-info{
border: 2px solid black;
border-radius: 9px;
color: wheat;
margin-left: 90px;
padding-left: 7px;
background-color: #1c263e;
}

.BuyNowButton{
  cursor: pointer;
  border-radius: 5px;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin-bottom: 9px;
  font-family: 'italic';
  font-size: medium;
  background-color: #3b82f6;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}
.BuyNowButton:hover {
  background-color: #2563eb;
  color:white ;
}