.PaymentSummary{
   border:solid;
   border-color: black;
   border-width: 2px;
 display: grid;
 padding: 20px;
  background-color: #1c263e;    /* dark gray */
  color: white;
  border-radius: 5px ;  
}

.checkoutButton{
  cursor: pointer;
  border-radius: 5px;
  border:solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'italic';
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

.checkoutButton:hover {
  background-color: #2563eb;
  color: white ;
}

.PaymentSummary-text{
  color: rgb(223, 210, 210);
}