.PaymentSummary{
   border:solid;
   border-color: black;
   border-width: 2px;
 display: grid;
 padding: 20px;
}

.checkoutButton{
  cursor: pointer;
  border-radius: 5px;
  border:solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'italic';
}

.checkoutButton:hover {
  background-color: black;
  color: white ;
}