.SignUpPage, .LogInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #425664;
}

.SignUpText, .LogInText {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
  font-family: italic;
}

.SignUpForm, .LogInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 150px;
}

.EmailInput, .PasswordInput, .userNameInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.SignUpButton, .LoginButton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.SignUpButton:hover {
  background-color:#20384a;
  color: white
}
.LoginButton:hover {
  background-color: #20384a;
  color: white
}

.LoginText {
  color: white;
  font-family: italic;
  margin-top: 15px;
}

.LoginLink {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.demo{
  color: black
}