.userInfo {
  padding-top: 100px;
  margin-left: 25px;
  color: black
}

.yourOrderInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #00000026;
  column-gap: 15px;
  padding-bottom: 10px;
  margin-top: 100px;
}

.historyText {
  padding-left: 15px;
}

.products {
  border: 2px solid white;
  border-radius: 9px;
  color: white;
  background-color: #425664;
  margin-top: 5px;
}

.productsInfo {
  border: 2px solid white;
  border-radius: 9px;
  background-color: #425664;
  padding-left: 8px;
  padding-right: 8px;
}

.orderDetails {
  color: white;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.empty-orders {
  font-family: italic;
  text-align: center;
  padding-top: 100px;
  padding-left: 85px;
}

.orderSummary {
  border-bottom: 2px solid white;
  background-color: #00000026;
  padding-left: 5px;
  border-radius: 5px;
}

.orderCalculation {
  padding-left: 50px;
  color: white;
}

.userInformations {
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  background-color: #00000026;
  padding-left: 5px;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 7px;
}

.userInformationText {
  padding-left: 5px;
}

.userInformation {
  padding-left: 50px;
  color: white;
}

.logoutButton,
.orderHistoryButton,
.signInButton {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 9px;
}

.logoutButton:hover {
  background-color: #20384a;
  color: white
}

.orderHistoryButton:hover {
 background-color: #20384a;
  color: white
}

.signInButton:hover {
  background-color: #20384a;
  color: white
}